<section
  class="bg-bgDrAgua flex justify-center items-center gap-10 flex-col"
  style="
border-bottom: 1px solid var(--Border-Color, #13254F);
"
>
  <h1
    class="mt-20"
    style="color: #FFF;
text-align: center;
        font-size:
        36px;
        font-style:
        normal;
        font-weight:
        800;
        line-height:
        normal;"
  >
    Sobre Nosotros
  </h1>
  <h3
    class="sm:text-[20px] text-[15px] text-center"
    style="color: var(--Paragraph-Color, #93A0BC);
font-style: normal;
font-weight: 500;
line-height: normal;"
  >
    <span class="italic">Doctor Agua</span> y nuestra misión.
  </h3>
  <div class="flex flex-col items-center justify-center gap-2 sm:gap-4 mb-20">
    <div
      class="flex-1 text-white text-sm lg:text-base w-3/4 sm:p-[25px_47px_26px_48px] p-2"
      style="display: inline-flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--CardStroke-Color, #0B1B3C);
background: rgba(5, 17, 46, 0.50);"
    >
      Doctor Agua es una empresa con más de 30 años de trayectoria en el sector
      de la purificación de agua, dedicada a brindar soluciones de tratamiento
      hídrico de la más alta calidad. Nuestro equipo de profesionales altamente
      calificados, acreditados y con amplia experiencia en todas las etapas del
      proceso, garantiza el cumplimiento de los estándares más exigentes.
      Contamos con un gran inventario, lo que nos permite hacer entregas en el
      mismo dia.
    </div>
  </div>
</section>
