<section
  class="bg-bgDrAgua flex justify-center items-center gap-10 flex-col"
  style="
border-bottom: 1px solid var(--Border-Color, #13254F);
"
>
  <h1
    class="mt-20"
    style="color: #FFF;
text-align: center;
        font-size:
        36px;
        font-style:
        normal;
        font-weight:
        800;
        line-height:
        normal;"
  >
    Sobre Nosotros
  </h1>
  <h3
    class="sm:text-[20px] text-[15px] text-center"
    style="color: var(--Paragraph-Color, #93A0BC);
font-style: normal;
font-weight: 500;
line-height: normal;"
  >
    Que hacemos en <span class="italic">Doctor Agua</span> y nuestra misión.
  </h3>
  <div class="flex flex-col items-center justify-center gap-2 sm:gap-4 mb-20">
    <div
      class="flex-1 text-white text-sm lg:text-base w-3/4 sm:p-[25px_47px_26px_48px] p-2"
      style="display: inline-flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--CardStroke-Color, #0B1B3C);
background: rgba(5, 17, 46, 0.50);"
    >
      Doctor Agua, una empresa dedicada a garantizar un servicio de calidad con
      mas de 30 años de experiencia en el sector de la purificación de agua.
      Contamos con expertos en varios campos de la purificación de agua, con
      certificaciones y experiencia en el sector. Tenemos un depositio de mas de
      1000m² en pleno once, donde contamos con un stock amplio para cumplir con
      sus necesidades de la mejor manera posible.
    </div>
  </div>
</section>
