<section
  class="bg-bgDrAguaDark flex justify-center items-center flex-col gap-8"
  style="border-top: 1px solid var(--Border-Color, #13254F);
border-bottom: 1px solid var(--Border-Color, #13254F);"
>
  <div
    class="flex flex-row justify-center items-center gap-5 mt-20 lg:w-[80%] w-[90%]"
    style="
height: 24px;
flex-shrink: 0;"
  >
    <div style="width: 24px;
height: 24px;
flex-shrink: 0;">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M11 17H13V11H11V17ZM12 9C12.2833 9 12.521 8.904 12.713 8.712C12.9043 8.52067 13 8.28333 13 8C13 7.71667 12.9043 7.479 12.713 7.287C12.521 7.09567 12.2833 7 12 7C11.7167 7 11.4793 7.09567 11.288 7.287C11.096 7.479 11 7.71667 11 8C11 8.28333 11.096 8.52067 11.288 8.712C11.4793 8.904 11.7167 9 12 9ZM12 22C10.6167 22 9.31667 21.7373 8.1 21.212C6.88333 20.6873 5.825 19.975 4.925 19.075C4.025 18.175 3.31267 17.1167 2.788 15.9C2.26267 14.6833 2 13.3833 2 12C2 10.6167 2.26267 9.31667 2.788 8.1C3.31267 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.31233 8.1 2.787C9.31667 2.26233 10.6167 2 12 2C13.3833 2 14.6833 2.26233 15.9 2.787C17.1167 3.31233 18.175 4.025 19.075 4.925C19.975 5.825 20.6873 6.88333 21.212 8.1C21.7373 9.31667 22 10.6167 22 12C22 13.3833 21.7373 14.6833 21.212 15.9C20.6873 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6873 15.9 21.212C14.6833 21.7373 13.3833 22 12 22Z"
          fill="#93A0BC"></path>
      </svg>
    </div>
    <span
      class="lg:text-[20px] text-[13px]"
      style="color: var(--Paragraph-Color, #93A0BC);
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;"
      >Todos los pedidos se procesan el mismo día. Realice su pedido por fax,
      correo electrónico o teléfono.</span
    >
  </div>
  <div
    style="display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;"
  >
    <a
      href="mailto:ventas@dervich.com.ar"
      class="lg:text-[40px] text-[30px]"
      style="color: var(--Pale-Color, #F2F6FF);
text-align: center;
font-style: normal;
font-weight: 800;
line-height: normal;"
    >
      ventas@dervich.com.ar
    </a>
    <h2
      class="lg:text-[40px] text-[30px]"
      style="color: var(--Pale-Color, #F2F6FF);
text-align: center;
font-style: normal;
font-weight: 800;
line-height: normal;"
    >
      +54 911 5141 5797
    </h2>
  </div>
  <a
    href="/contacto"
    class="text-white hover:bg-opacity-70 cursor-pointer transition-all bg-[#145EFF] mb-14 lg:py-[15px] lg:px-[30px] py-[10px] px-[20px]"
    style="display: inline-flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;"
  >
    Contactanos
  </a>
</section>
