<section
  class="relative h-[100vh] text-white flex items-center justify-center flex-col overflow-hidden"
>
  <img
    src="/bgHero.png"
    alt="Background"
    class="inset-0 w-full h-full object-cover bg-fixed bg-center -z-10 fixed"
    loading="eager"
    style="background-attachment: fixed;
    @supports (-webkit-touch-callout: inherit) {
      background-attachment: scroll;
    }"
  />
  <div
    class="flex flex-col items-center justify-center gap-[50px] lg:w-[900px] sm:w-[450px] w-full"
    style="
height: 450px;
flex-shrink: 0;"
  >
    <div
      class="flex flex-col items-center justify-center gap-y-[20px] text-center"
    >
      <p
        class="text-[12px] lg:text-[16px]"
        style="
      color: var(--Pale-Color, #F2F6FF);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.2px;
        "
      >
        Residencial | Comercial | Industrial
      </p>
      <svg
        class="lg:w-[848px] sm:w-[500px] w-[350px]"
        xmlns="http://www.w3.org/2000/svg"
        height="18"
        viewBox="0 0 848 18"
        fill="none"
      >
        <path
          d="M0.339746 9L9 17.6603L17.6603 9L9 0.339746L0.339746 9ZM847.66 9L839 0.339746L830.34 9L839 17.6603L847.66 9ZM9 10.5H15.9167V7.5H9V10.5ZM29.75 10.5H43.5833V7.5H29.75V10.5ZM57.4167 10.5H71.25V7.5H57.4167V10.5ZM85.0833 10.5H98.9167V7.5H85.0833V10.5ZM112.75 10.5H126.583V7.5H112.75V10.5ZM140.417 10.5H154.25V7.5H140.417V10.5ZM168.083 10.5H181.917V7.5H168.083V10.5ZM195.75 10.5H209.583V7.5H195.75V10.5ZM223.417 10.5H237.25V7.5H223.417V10.5ZM251.083 10.5H264.917V7.5H251.083V10.5ZM278.75 10.5H292.583V7.5H278.75V10.5ZM306.417 10.5H320.25V7.5H306.417V10.5ZM334.083 10.5H347.917V7.5H334.083V10.5ZM361.75 10.5H375.583V7.5H361.75V10.5ZM389.417 10.5H403.25V7.5H389.417V10.5ZM417.083 10.5H430.917V7.5H417.083V10.5ZM444.75 10.5H458.583V7.5H444.75V10.5ZM472.417 10.5H486.25V7.5H472.417V10.5ZM500.083 10.5H513.917V7.5H500.083V10.5ZM527.75 10.5H541.583V7.5H527.75V10.5ZM555.417 10.5H569.25V7.5H555.417V10.5ZM583.083 10.5H596.917V7.5H583.083V10.5ZM610.75 10.5H624.583V7.5H610.75V10.5ZM638.417 10.5H652.25V7.5H638.417V10.5ZM666.083 10.5H679.917V7.5H666.083V10.5ZM693.75 10.5H707.583V7.5H693.75V10.5ZM721.417 10.5H735.25V7.5H721.417V10.5ZM749.083 10.5H762.916V7.5H749.083V10.5ZM776.75 10.5H790.583V7.5H776.75V10.5ZM804.416 10.5H818.25V7.5H804.416V10.5ZM832.083 10.5H839V7.5H832.083V10.5Z"
          fill="#145EFF"></path>
      </svg>
      <h1
        class="lg:text-[64px] sm:text-[32px] text-[25px] w-[380px] sm:w-full"
        style="
          color: #FFF;
text-align: center;
font-style: normal;
font-weight: 800;
line-height: normal;
        "
      >
        Soluciones de tratamiento de agua por más de
        <span
          class="lg:text-[64px] sm:text-[32px] text-[25px]"
          style="
            color: var(--Brand-Color, #145EFF);
text-align: center;
font-style: normal;
font-weight: 800;
line-height: normal;
          "
        >
          20 años
        </span>
      </h1>
      <p
        class="lg:text-[20px] sm:text-[16px] text-[12px] sm:w-[709px] w-[350px]"
        style="
      color: var(--Paragraph-Color, #93A0BC);
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;
      "
      >
        Los sistemas de purificación de agua están aquí para mejorar la
        calidad del agua desde su fuente donde sea que estés. Obtén
        agua potable fresca, pura y saludable con nosotros.
      </p>
    </div>
    <div>
      <a
        href="/categorias"
        class="hover:bg-opacity-70 transition-all bg-[#145EFF] lg:px-[30px] lg:py-[15px] px-[20px] py-[10px]"
        style="
        display: inline-flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
"
      >
        <p class="text-base">Mira nuestros productos</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M6 3.5L10.5 8L6 12.5"
            stroke="#F2F6FF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

