<div id="scroll-to-top" class="fixed bottom-5 right-5">
  <button
    class="flex w-12 h-12 justify-center items-center rounded-md border border-gray-600 bg-gray-900 shadow-lg hover:bg-gray-800 transition-colors duration-300"
    aria-label="Volver arriba"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 text-gray-400"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M18 15l-6-6-6 6"></path>
    </svg>
  </button>
</div>

<script is:inline>
  // Ejecutar inmediatamente
  (() => {
    const button = document.getElementById("scroll-to-top");
    if (button) {
      button.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    }
  })();
</script>
